.container #quiz-bg {
    display: grid;
    grid-template-rows: 0.7fr 1fr;
    position: flex;
}

.row {
    margin: 10px;
}

#quiz-bg {
    border: 2px solid #b386b4;
    border-radius: 25px;
    width: 100%;
    max-width: 700px;
    height: 100%;
    max-height: 450px;
    text-align: center;
    margin: auto;
    background-color: rgba(228, 215, 250, 0.366);
}

#question-field {
    padding: 5px;
    flex-basis: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#question-text {
    font-size: 25px;
    margin: 0px 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 20px;

}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: left;
    border: 2px solid #2e1e2e;
    border-radius: 15px;
    margin: 5px 20px;
    background-color: rgba(228, 215, 250, 0.366);
}

.grid-item:hover {
    background-color: rgb(228, 215, 250);
}