body {
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    
}

.bg {
    /* display: flex; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(splashbg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100vh;
}

.white-text {
    color: antiquewhite;
}

#logo {
    border-radius: 50%;
}

@keyframes glowing {
    0% {
        background-color: transparent;
        box-shadow: 0 0 5px #b386b4;
    }

    50% {
        background-color: transparent;
        box-shadow: 0 0 50px #b386b4;
    }

    100% {
        background-color: transparent;
        box-shadow: 0 0 5px #b386b4;
    }
}

#logo {
    animation: glowing 2500ms infinite;
}

.splash-content {
    margin: 10% 33%;
}

::placeholder {
    color: grey;
    opacity: 1;
}

#topic-selection {
    background-color: transparent;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
}

#dark-text {
    color: #0a0f15;
}

#topic-selection option[value=""] {
    display: none;
}

select option {
    background-color: transparent;
}

/* Buttons */

/* Next btn */
.button,
.button *,
.button :after,
.button :before,
.button :after,
.button :before {
    border: 0 solid;
    box-sizing: border-box;
}

.button {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.button:disabled {
    cursor: default;
}

.button:-moz-focusring {
    outline: auto;
}

.button svg {
    display: block;
    vertical-align: middle;
}

.button [hidden] {
    display: none;
}

.button {
    --tilt: 10px;
    border-width: 1px;
    display: grid;
    padding: 0.5rem;
    place-content: center;
}

.button,
.button .text-container {
    overflow: hidden;
    position: relative;
}

.button .text-container {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.button .text {
    display: block;
    font-weight: 900;
    mix-blend-mode: difference;
    position: relative;
}

.button:hover .text {
    -webkit-animation: move-right-alternate 0.3s ease forwards;
    animation: move-right-alternate 0.3s ease forwards;
    color: #b386b4;
}

@-webkit-keyframes move-right-alternate {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(80%);
    }

    51% {
        transform: translateX(-80%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes move-right-alternate {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(80%);
    }

    51% {
        transform: translateX(-80%);
    }

    to {
        transform: translateX(0);
    }
}

.button:before {
    -webkit-animation: move-out 0.3s ease;
    animation: move-out 0.3s ease;
    background: #b386b4;
    -webkit-clip-path: polygon(0 0,
            calc(100% - var(--tilt)) 0,
            100% 50%,
            calc(100% - var(--tilt)) 100%,
            0 100%);
    clip-path: polygon(0 0,
            calc(100% - var(--tilt)) 0,
            100% 50%,
            calc(100% - var(--tilt)) 100%,
            0 100%);
    content: "";
    height: 100%;
    left: calc(-100% - var(--tilt));
    position: absolute;
    top: 0;
    width: calc(100% + var(--tilt));
}

.button:hover:before {
    -webkit-animation: move-in 0.3s ease forwards;
    animation: move-in 0.3s ease forwards;
    color: #b386b4;
}

@-webkit-keyframes move-in {
    0% {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes move-in {
    0% {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

@-webkit-keyframes move-out {
    0% {
        transform: translateX(100%);
    }

    to {
        transform: translateX(200%);
    }
}

@keyframes move-out {
    0% {
        transform: translateX(100%);
    }

    to {
        transform: translateX(200%);
    }
}

.next-btn,
.next-btn *,
.next-btn :after,
.next-btn :before,
.next-btn:after,
.next-btn:before {
    border: 0 solid;
    box-sizing: border-box;
}

.next-btn {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
    text-transform: uppercase;
}

.next-btn:disabled {
    cursor: default;
}

.next-btn:-moz-focusring {
    outline: auto;
}

.next-btn svg {
    display: block;
    vertical-align: middle;
}

.next-btn [hidden] {
    display: none;
}

.next-btn {
    --background: #000;
    background: none;
    overflow: hidden;
    padding: 0.7rem 2rem;
    position: relative;
}

.next-btn span {
    display: block;
    position: relative;
    transition: transform 0.2s ease;
}

.next-btn:after,
.next-btn:before {
    --tilt: 20px;
    background: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: -webkit-clip-path 0.2s ease;
    transition: clip-path 0.2s ease;
    transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
    width: 100%;
    z-index: -1;
}

.next-btn:after {
    --thickness: 1px;
    background: var(--background);
    height: calc(100% - var(--thickness) * 2);
    left: var(--thickness);
    top: var(--thickness);
    width: calc(100% - var(--thickness) * 2);
}

.next-btn:hover span {
    transform: translateX(-20px);
}

.next-btn:hover:after,
.next-btn:hover:before {
    -webkit-clip-path: polygon(0 0,
            calc(100% - var(--tilt)) 0,
            100% 50%,
            calc(100% - var(--tilt)) 100%,
            0 100%);
    clip-path: polygon(0 0,
            calc(100% - var(--tilt)) 0,
            100% 50%,
            calc(100% - var(--tilt)) 100%,
            0 100%);
}


/* Level buttons */
.lv-btn,
.lv-btn *,
.lv-btn :after,
.lv-btn :before,
.lv-btn:after,
.lv-btn:before {
    border: 0 solid;
    box-sizing: border-box;
}

.lv-btn {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    color: #b386b4;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
    text-transform: uppercase;
}

.lv-btn:disabled {
    cursor: default;
}

.lv-btn:-moz-focusring {
    outline: auto;
}

.lv-btn svg {
    display: block;
    vertical-align: middle;
}

.lv-btn [hidden] {
    display: none;
}

.lv-btn {
    --background: #000;
    background: none;
    overflow: hidden;
    padding: 0.7rem 2rem;
    position: relative;
}

.lv-btn span {
    display: block;
    position: relative;
    transition: transform 0.2s ease;
}

.lv-btn:after,
.lv-btn:before {
    --tilt: 20px;
    background: #fff;
    -webkit-clip-path: polygon(0 50%, 0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
    clip-path: polygon(0 50%, 0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: -webkit-clip-path 0.2s ease;
    transition: clip-path 0.2s ease;
    transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
    width: 100%;
    z-index: -1;
}

.lv-btn:after {
    --thickness: 1px;
    background: var(--background);
    height: calc(100% - var(--thickness) * 2);
    left: var(--thickness);
    top: var(--thickness);
    width: calc(100% - var(--thickness) * 2);
}

.lv-btn:hover:after,
.lv-btn:hover:before {
    -webkit-clip-path: polygon(0 50%,
            var(--tilt) 0,
            calc(100% - var(--tilt)) 0,
            100% 50%,
            calc(100% - var(--tilt)) 100%,
            var(--tilt) 100%);
    clip-path: polygon(0 50%,
            var(--tilt) 0,
            calc(100% - var(--tilt)) 0,
            100% 50%,
            calc(100% - var(--tilt)) 100%,
            var(--tilt) 100%);
}