.container #quiz-bg {
    display: grid;
    grid-template-rows: 0.7fr 1fr;
    position: flex;
}

.quiz-bg {
    border: 2px solid #b386b4;
    border-radius: 25px;
    width: 100%;
    max-width: 700px;
    height: 50%;
    max-height:min-content;
    text-align: center;
    margin: auto;
    background-color: rgba(228, 215, 250, 0.366);
}

/* Questions part */
#question-field {
    padding: 5px;
    flex-basis: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#question-text {
    /* font-size: 25px; */
    /* margin: 0px 10px; */
}

/* Answers part */
.grid-container {
    display:grid;
    grid-template-columns: auto auto;
    margin: 3%;
    /* margin-bottom: 3%; */
    padding: 0;
}

.grid-item {
    padding: 20px;
    text-align: left;
    border: 2px solid #2e1e2e;
    border-radius: 15px;
    margin: 5px 10px;
    background-color: rgba(228, 215, 250, 0.366);
}

.grid-item:hover {
    background-color: rgb(228, 215, 250);
}

/* Answer reaction */
.incorrect {
    background-color: rgba(255, 0, 0, 0.86);
    padding: 20px;
    font-size: 30px;
    text-align: left;
    border: 2px solid #2e1e2e;
    border-radius: 15px;
    margin: 5px 20px;
    color: whitesmoke;
}

.correct {
    background-color: green;
    padding: 20px;
    font-size: 30px;
    text-align: left;
    border: 2px solid #2e1e2e;
    border-radius: 15px;
    margin: 5px 20px;
    color: whitesmoke;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;

}


/* Buttons */
.answer-btn,
.answer-btn *,
.answer-btn :after,
.answer-btn :before,
.answer-btn:after,
.answer-btn:before {
    border: 0 solid;
    box-sizing: border-box;
}

.answer-btn {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
}

.answer-btn:disabled {
    cursor: default;
}

.answer-btn:-moz-focusring {
    outline: auto;
}

.answer-btn svg {
    display: block;
    vertical-align: middle;
}

.answer-btn [hidden] {
    display: none;
}

.answer-btn {
    background: none;
    box-sizing: border-box;
    color: #000;
    display: block;
    font-weight: 900;
    -webkit-mask-image: none;
    padding: 1.5rem 4rem;
    position: relative;
    text-transform: uppercase;
}

.answer-btn span {
    background: #fff;
    border: 1px solid;
    border-radius: 999px;
    display: grid;
    inset: 0;
    place-items: center;
    pointer-events: none;
    position: absolute;
}

.answer-btn:hover span {
    -webkit-animation: heartBeat 1s;
    animation: heartBeat 2s;
}

@-webkit-keyframes heartBeat {
    0% {
        transform: scale(1);
    }

    14% {
        transform: scale(1.3);
    }

    28% {
        transform: scale(1);
    }

    42% {
        transform: scale(1.3);
    }

    70% {
        transform: scale(1);
    }
}

@keyframes heartBeat {
    0% {
        transform: scale(1);
    }

    14% {
        transform: scale(1.3);
    }

    28% {
        transform: scale(1);
    }

    42% {
        transform: scale(1.3);
    }

    70% {
        transform: scale(1);
    }
}